<h1>Liste des réservations</h1>
<% @bookings.each do |booking| %>
  <div>
    <p>Réservation du : <%= booking.item.name %></p>
    <p>Date de début : <%= booking.start_date %></p>
    <p>Date de fin : <%= booking.end_date %></p>
    <%= link_to 'Voir', booking_path(booking) %>
    <%= link_to 'Modifier', edit_booking_path(booking) %>
    <%= link_to 'Supprimer', booking_path(booking), method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %>
  </div>
<% end %>
<%= link_to 'Nouvelle réservation', new_item_booking_path %>
