<div class="container mt-4">
<h1>Détails de la réservation</h1>
<p>Date de début : <%= @booking.start_date %></p>
<p>Date de fin : <%= @booking.end_date %></p>
<p>Status : <%= @booking.status == 'pending' ? 'En attente de validation' : @booking.status.capitalize %></p>

<%= link_to 'mes reservations', my_bookings_path(@booking) %>
<%= link_to 'Retour à la liste', root_path %>
</div>
